body{
    background-image: url("../images/bedge_grunge.png");
    width:100%;
}
header h1{
    border-bottom: 2px solid #66ffff;
}
img{
    height:250px;width: auto;    
}
p{
    font-size:24px;
}
p > span{
    position: relative;
    top:-8px;   
}
.card-body{ 
    min-height: 120px;    
}
.list-group-item:hover {
    background-color: silver;
}
#divQuestion{
    position: relative;
}
#losses{
    font-size: 16px;
}