body{
    background-image: url("../images/bedge_grunge.png");
    width:100%;
}
footer ul{
    margin-bottom: 5px;
}
header h1{
    border-bottom: 2px solid #66ffff;
}
img{
    height:250px;width: auto;    
}
p{
    font-size:24px;
}
p > span{
    position: relative;
    top:-8px;   
}
.card{
    min-width: 200px;
}
.card-body{     
    min-height: 120px;    
}
.list-group-item:hover {
    background-color: silver;
}
.jumbotron{
    min-width:320px;
}
#answers{
    margin-bottom:120px;
}
#answer-card{
    margin-bottom:120px;
}   
#divQuestion{
    position: relative;
}
#losses{
    font-size: 16px;
}
#pageFooter{
    border-top: 2px solid #66ffff;
}
@media screen and (max-width: 576px){
    img{
        height:200px;width: auto;    
    }
    p{
        font-size:20px;
    }
    ul{
        padding-left:1px;
    } 
    .col-sm-1{
        flex-grow: 0;        
        padding:0px;
        width:0px;
    } 
    .display-5{
        font-size: 10px;
    }
    .jumbotron{
        min-width:345px;
        margin-bottom: 10px;
    }    
      
}
@media screen and (min-device-width: 577px) and (max-device-width: 775px) /*and (orientation : landscape)*/{
    img{
        height:200px;width: auto;    
    }
    p{
        font-size:20px;
    }
    ul{
        padding-left:1px;
    }   
     .col-sm-1{
        background-color: green;
        flex-grow: 0;        
        padding:0px;
        width:0px;min-width: 0;max-width: 0;        
    } 
    .container{
        margin:5px;
        padding-left: 5px;
        padding-right: 5px;        
    }
    .display-3{
        font-size:50px; 
        max-height:70px;               
    }
    .display-5{
        font-size: 10px;
    }
    .jumbotron{        
        margin-bottom: 10px;
        min-width:320px;
    }       
    .mb-4{
        margin-bottom: 5px!important;
    }
    
}