img{
    height:400px;width: auto;    
}
p{
    font-size:24px;
}
#divQuestion{
    position: relative;
}
p > span{
    position: relative;
    top:-8px;
   
}
.list-group-item:hover {
    background-color: gray;
}
